
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>QUẢN LÝ SINH VIÊN</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                        <li class="breadcrumb-item active">Danh mục</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>


    <!-- Main content -->
    <section class="content">
        @if (TempData["InsertMessage"] != null)
        {
            <div class="alert alert-success alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Success!</strong> @TempData["InsertMessage"]
            </div>
        }
        <!-- Default box -->
        <div class="card-header">
            <h2 class="card-title">Danh sách hệ đào tạo</h2>
            <div class="card-tools">
                <button id="button">Row count</button>
                <a class="btn btn-success" style="margin-bottom:10px" onclick="PopupForm('@Url.Action("Create","HeDaoTao")')"><i class="fa fa-plus"></i> Add New</a>
            </div>
        </div>
        <table id="HDTTable" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Mã Hệ Đào Tạo</th>
                    <th>Tên Hệ Đào Tạo</th>
                    <th>Thao Tac</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Mã Hệ Đào Tạo</th>
                    <th>Tên Hệ Đào Tạo</th>
                    <th>Thao Tac</th>
                </tr>
            </tfoot>
        </table>
    </section>
</div>

<link href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
@section scripts{
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    @*<script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap.min.js"></script>*@

<script>
                var Popup, dataTable;
                $(document).ready(function () {
                    dataTable = $("#HDTTable").DataTable({
                        "processing": true,
                        "serverSide": true,
                        "ajax": {
                            'url': '/HeDaoTao/GetList',
                            'type': 'POST',
                            'dataType': "json",
                            "dataSrc": "data"
                        },
                        "columns": [
                            { "data": "MaHDT" },
                            { "data": "TenHDT" },
                            { "render": function (data) {
                                console.log(data);
                                return "<a class='btn btn-default btn-sm' onclick=PopupForm('@Url.Action("Edit", "HeDaoTao")/" + data + "')> <i class='fa fa-pencil'></i> Edit</a><a class='btn btn-danger btn-sm' style='margin-left:5px' onclick=Delete(" + data + ")><i class='fa fa-trash'></i> Delete</a>";
                                },
                                "orderable": false,
                                "searchable": false,
                                "width": "150px"
                            }
                        ],
                        "language": {

                            "emptyTable": "No data found, Please click on <b>Add New</b> Button"
                        }
                    });
                    var table = $('#HDTTable').DataTable();
                    $('#HDTTable tbody').on('click', 'tr', function () {
                        $(this).toggleClass('selected');
                        });
                        $('#button').click(function () {
                        alert(table.rows('.selected').data().length + ' row(s) selected');
                    });
                });

                function PopupForm(url) {
                    var formDiv = $('<div/>');
                    $.get(url)
                        .done(function (response) {
                            formDiv.html(response);

                            Popup = formDiv.dialog({
                                autoOpen: true,
                                resizable: false,
                                title: 'Fill HeDaoTao Details',
                                height: 500,
                                width: 700,
                                close: function () {
                                    Popup.dialog('destroy').remove();
                                }
                            });
                        });
                    }

                function SubmitForm(form) {
                    $.validator.unobtrusive.parse(form);
                    if ($(form).valid()) {
                        $.ajax({
                            type: "POST",
                            url: form.action,
                            data: $(form).serialize(),
                            success: function (data) {
                                if (data.success) {
                                    Popup.dialog('close');
                                    dataTable.ajax.reload();

                                    $.notify(data.message, {
                                        globalPosition: "top center",
                                        className: "success"
                                    })

                                }
                            }
                        });
                    }
                    return false;
                }

                function Delete(MaHDT) {
                    if(confirm('Are You Sure to Delete this Employee Record ?'))
                    {
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("DeleteHeDaoTao","HeDaoTao")/' + data,
                            success: function (data) {
                                if (data.success)
                                {
                                    dataTable.ajax.reload();

                                    $.notify(data.message, {
                                        globalPosition: "top center",
                                        className: "success"
                                    })
                                }
                            }
                        });
                    }
                }
</script>
}



